.banner {
    background: var(--azul-degrade);
    color: var(--branco);
    text-align: center;
    padding: 2.5em 2em;
}

.banner__titulo {
    font-size: 18px;
    font-weight: 700;
}

.banner__texto {
    font-weight: 500;
    margin: 1em 0;
}

.banner__pesquisa {
    padding: 1em;
    background-color: transparent;
    border-color: var(--branco);
    border-radius: 20px;
    width: 100%;
    text-align: center;
    color: var(--branco);
    font-size: 14px;
}

.banner__pesquisa::placeholder {
    font-family: var(--fonte-principal);
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    background: url("../img/Pesquisa.svg");
    background-repeat: no-repeat;
}

.caixa_tecnologia {
    background-color: var(--laranja);
    padding: 10px;
    font-size: 14px;
    margin-top: 10px;
}

.caixa-pai {
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.novidades__input {
    padding: 0.8em;
    border-color: var(--azul);
    border-radius: 20px;
    width: 100%;
    font-size: 14px;
    text-align: center;
    display: block;
    margin: 0;
}

.novidades__input::placeholder {
    font-family: var(--fonte-principal);
    font-size: 14px;
    font-weight: 400;
    color: var(--azul);
    background: url("../img/Email.svg");
    background-repeat: no-repeat;
}

.banner__novidades {
    padding: 2.5em 2em;
    background-color: #fff;
}

.novidades__titulo {
    color: rgb(2, 2, 85);
    font-size: 17px;
    margin-bottom: 10px;
}

.novidades__texto {
    color: var(--azul);
    margin-bottom: 20px;
    font-size: 15px;
    line-height: 23px;
}
